{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href='{{ url_for("static", filename="css/book.css") }}'>
{% endblock head %}

{% block title %}
Book - 
{% endblock title %}

{% block content %}


<div class="book-container">
    <div class="book-cover"></div>
    <div class="book-text">
        <p class="book-title"></p>
        <p class="book-author"></p>
        <p class="book-description" ></p>
    </div>
    <div class="right-side">
        <div class="book-button">
        {% if current_user.is_anonymous %}
            <button  class="add-book-button button" onclick="loginRedirect()">Log In</button>
        {% elif not dbm.ubc_exists(current_user.id, olid) %}
            <button  class="add-book-button button" onclick="addBookRequest()">Add Book</button>
        {% else %}
            <div id="book-removal">
                <button id="remove-book-button" class="add-book-button button" onclick="removeBookConfirm()">Remove Book</button>
            </div>
        {% endif %}
        </div>

        <div class="notes">
            <form id="notes-form">
                <textarea id="notes-textarea" placeholder="Add notes here..." rows="10" cols="30" maxlength="100000" oninput="setAsDirty()">{{ user_note }}</textarea>
                <div class="save-wrapper">
                    <input disabled type="button" id="save-changes-button" class="button" value="Save Changes" onclick="saveNote()">
                </div>
            </form>
        </div>
    </div>

</div>

<script>

let nta = $('#notes-textarea')
{% if current_user.is_anonymous %}
    nta.attr('disabled', true)
    nta.attr('placeholder', 'Log In and add this book to your library to add notes')
{% else %}
    {% if not dbm.ubc_exists(current_user.id, olid) %}

        nta.attr("disabled", true)
        nta.attr('placeholder', 'Add this book to your library to add notes')

    {% endif %}

{% endif %}


changeNotesHeight()

$('#notes-textarea').dirty({preventLeaving: true})
function setAsDirty() {
    $('#notes-textarea').dirty("setAsDirty")
    $('#save-changes-button').attr('disabled', false)
    changeNotesHeight()

}
function setAsClean() {
    $('#notes-textarea').dirty("setAsClean")
    $('#save-changes-button').attr('disabled', true)
}
function changeNotesHeight() {
    $('#notes-textarea').css('height', "")
    let scrollHeight = $('#notes-textarea')[0].scrollHeight
    let maxHeight = 450
    let newHeight = Math.min(maxHeight, scrollHeight) + 'px'
    $('#notes-textarea').css('height', newHeight)

}
function displayChangesSaved() {
    console.log("display")
    elem = `<p class="alert alert-success" id="changes-saved-alert">Changes Saved!</p>`
    //$('.save-wrapper').append(elem)
    $(elem).insertBefore('.save-wrapper')
    setTimeout(removeChangesSavedAlert, 1500)
}
function removeChangesSavedAlert() {
    console.log("removing")
    $('#changes-saved-alert').remove()
}

$('#notes-textarea').keydown(function(event) {
    if (event.keyCode == 13 && (event.metaKey || event.ctrlKey)) {
        saveNote()
        $('#notes-textarea').blur()

    }
})


let olid = "{{ olid }}"

function loginRedirect() {
    window.location.href = `/login?next=/book/${olid}`
}

function saveNote() {
    noteText = $('#notes-textarea').val()

    let data = {
        note: noteText,
        olid: olid
    }

    $.ajax({
        type: 'POST',
        url: '/save-notes',
        contentType: 'application/json;charset=UTF-8',
        data: JSON.stringify(data),
        success: function(response) {
            setAsClean()
            displayChangesSaved()
            console.log(response)
        },
        error: function(xhr, status, error) {
            console.log("Error", xhr, status, error)
        }
    })
}

function removeBookConfirm() {
    console.log("confirming")
    div = $('#book-removal')
    div.empty()

    elem = `
    <p class="alert alert-danger">Are you sure? All data will be lost</p
    <br>
    <div class="button-confirm-wrapper">
        <button class="button confirm" onclick="removeBookCancel()">Cancel</button>
        <button class="button confirm" onclick="removeBookRequest()">Confirm</button>
    </div>
    `
    div.append(elem)
}
function removeBookCancel() {
    div = $('#book-removal')
    div.empty()

    elem = `<button id="remove-book-button" class="add-book-button button" onclick="removeBookConfirm()">Remove Book</button>`
    div.append(elem)
}


function addBookRequest() {
    let data = { olid: olid}
    $.ajax({
        type: 'POST',
        url: '/add-olbook',
        contentType: 'application/json;charset=UTF-8',
        data: JSON.stringify(data),
        success: function(response) {
            console.log('Response from server:', response);
            location.reload()
            //window.location.href = response
        },
        error: function(xhr, status, error) {
            console.error('Error sending data', error);
        }
    })
}
function removeBookRequest() {
    let data = { olid: olid}
    $.ajax({
        type: 'POST',
        url: '/remove-olbook',
        contentType: 'application/json;charset=UTF-8',
        data: JSON.stringify(data),
        success: function(response) {
            console.log('Response from server:', response);
            location.reload()
            //window.location.href = response
        },
        error: function(xhr, status, error) {
            console.error('Error sending data', error);
        }
    })
}


console.log(`Getting data for ${olid}`)
$.ajax({
    url: `https://openlibrary.org/works/${olid}.json`,
    
    success: function(response) {
        console.log(response)
        updatePage(response)
        //showResults(response)
    },
    error: function(xhr) {
        console.log(xhr)
    }
})

function updatePage(response) {
    let title = response['title']
    let description = response['description']
    if (typeof description === 'object') {description = description['value']}
    let underscored_title = title.split(" ").join("_")
    history.pushState({}, null, `/book/${olid}/${underscored_title}`)
    document.title = title
    $('.book-title').text(title)
    $('.book-description').text(description)
    $('#all').text(response)

    let cover = response['covers'][0]
    img = `<img id="book-cover-img" src="https://covers.openlibrary.org/b/id/${cover}-L.jpg">`
    $('.book-cover').append(img)


//    for (cover of response['covers']) {
        //img = `<img src="https://covers.openlibrary.org/b/id/${cover}-L.jpg">`
        //$('.book-cover').append(img)

    //}

    console.log(response)
    updateAuthor(response)



}


function getAuthors(response) {

    console.log("author text fucntion")

    const names = []
    console.log(response)
    console.log(response['authors'])
    for (authorDict of response['authors']) {
        key = authorDict['author']['key']
        //console.log(key)

        const promise = fetch(`https://openlibrary.org${key}.json`)
            .then(response => response.json())
            .then(data => {
                return data['name']
            })

        names.push(promise)
    }

    allNames = Promise.all(names)
    console.log("all names", allNames)
    return allNames
    //for (name of allNames) {console.log(name)}
}


function updateAuthor(response) {
    console.log("fun t")
    authors = getAuthors(response)
        .then(names => {
            //console.log("authors from authrotext", authors)
            console.log("joined", names.join(", "))
        //    return names
            let authors = names[0]
            console.log("authors", authors)
            if (names.length > 1) {
                if (names.length > 2) {
                    authors += ", "
                } else {
                    authors += " "
                }
                for (let i = 1; i < names.length-1; i++) {
                    authors += `${names[i]}, `
                }
                authors += `and ${names[names.length-1]}`
            }

            let authText = "By " + authors
            console.log(authText)
            $('.book-author').text(authText)
            return authText
            })
            .catch(error => {
                console.error("Error me", error)
            })
}

        //$.get(`https://openlibrary.org${key}.json`, function(authResponse) {
            //console.log(authResponse)
            //console.log(authResponse['name'])
         //   names.push(String(authResponse['name']))

        //})


            //console.log("names: ", names)


    





</script>


{% endblock content %}
