{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href='{{ url_for("static", filename="css/book.css") }}'>
{% endblock head %}

{% block title %}
Book - 
{% endblock title %}

{% block content %}


<div class="book-container">
    <div class="book-cover"></div>
    <div class="book-text">
        <p class="book-title"></p>
        <p class="book-author"></p>
        <p class="book-description" ></p>
    </div>
    <div class="right-side">
        <div class="book-button">
        {% if current_user.is_anonymous %}
            <button  class="add-book-button button" onclick="loginRedirect()">Log In</button>
        {% elif not dbm.ubc_exists(current_user.id, olid) %}
            <div class="add-book-buttons">
                <button  class="add-book-button button" onclick="$('.library-buttons').show()">Add Book</button>
                <div class="library-buttons">
                    <button class="add-library-button button" onclick="addBookRequest('To Read')">To Read</button>
                    <button class="add-library-button button" onclick="addBookRequest('Read')">Read</button>
                    <button class="add-library-button button" onclick="addBookRequest('Currently Reading')">Currently Reading</button>
                </div>
            </div>
        {% else %}
            <!-- <div class="remove-library-grid-container"> -->
                <div id="book-removal">
                    <button id="remove-book-button" class="add-book-button button" onclick="removeBookConfirm()">Remove Book</button>
                </div>
                <div id="change-library-buttons">
                    <button class="button change-library-start" onclick="showChangeLibraryButtons()"></button
                    ><button class="button change-library-arrow" onclick="showChangeLibraryButtons()"><i class="arrow"></i></button>
                    <div class="change-library-selector">
                        <button class="button change-library to-read" onclick="changeLibrary('To Read')">To Read</button>
                        <button class="button change-library read" onclick="changeLibrary('Read')">Read</button>
                        <button class="button change-library currently-reading" onclick="changeLibrary('Currently Reading')">Currently Reading</button>
                    </div>
                </div>
            <!-- </div> -->
        {% endif %}
        </div>

        {% if current_user.is_authenticated and dbm.ubc_exists(current_user.id, olid) %}
            <div class="review">
                <!-- <i class="star fa-solid fa-star"></i> -->
                <!-- <i class="star fa-solid fa-star"></i> -->
                <i class="star fa-regular fa-star"></i>
                <i class="star fa-regular fa-star"></i>
                <i class="star fa-regular fa-star"></i>
                <i class="star fa-regular fa-star"></i>
                <i class="star fa-regular fa-star"></i>
                <span id="review-saved" class="hidden alert alert-success">Changed Saved!</span>
            </div>
        {% endif %}


        <div class="notes">
            <form id="notes-form">
                <textarea id="notes-textarea" placeholder="Add notes here..." rows="10" cols="30" maxlength="100000" oninput="setAsDirty()">{{ user_note }}</textarea>
                <div class="save-wrapper">
                    <input disabled type="button" id="save-changes-button" class="button" value="Save Changes" onclick="saveNote()">
                </div>
            </form>
        </div>
    </div>

</div>

<script>

let olid = "{{ olid }}"

$(document).ready(function() {
    $('.library-buttons').hide()   
    $('.add-book-buttons').on("mouseleave", function() {
        $('.library-buttons').hide()   
    })

    $('.change-library-selector').hide()   
    $('.change-library').hide()   
    $('.change-library-selector').on("mouseleave", function() {
        console.log("mslv")
        $('.change-library-selector').hide()   
        $('.change-library').hide()   
    })

    {% if current_user.is_authenticated %}
        setChangeLibraryButton()
    {% endif %}

    setupNotesTextarea()
    review()

})

function review() {

    {% if current_user.is_authenticated %}
        let rating = {{ dbm.get_rating(current_user.id, olid) }} 
        $('.star').removeClass('fa-solid')
        $('.star').removeClass('fa-solid')
        $(`.star:lt(${rating})`).addClass('fa-solid')
        $(`.star:gt(${rating})`).addClass('fa-regular')
    {% endif %}

    $('.star').on("click", function() {

        index = $(this).index()
        $('.star').removeClass('fa-solid')
        $('.star').removeClass('fa-solid')
        $(`.star:lt(${index+1})`).addClass('fa-solid')
        $(`.star:gt(${index})`).addClass('fa-regular')

        let rating = $(this).index() + 1

        data = {
            olid: olid,
            rating: rating
        }

        $.ajax({
            type: 'POST',
            url: '/set-rating',
            contentType: 'application/json;charset=UTF-8',
            data: JSON.stringify(data),
            success: function(response) {
                console.log(response)
            },
            error: function(xhr, status, error) {
                console.log("Error", xhr, status, error)
            }
        })

        $('#review-saved').addClass('visible')
        $('#review-saved').removeClass('hidden')
        setTimeout(function() {
            $('#review-saved').addClass('hidden')
            $('#review-saved').removeClass('visible')
        }, 1000)

        
    }) 
}

function setupNotesTextarea() {
    let nta = $('#notes-textarea')
    {% if current_user.is_anonymous %}
        nta.attr('disabled', true)
        nta.attr('placeholder', 'Log In and add this book to your library to add notes')
    {% elif not dbm.ubc_exists(current_user.id, olid) %}
        nta.attr("disabled", true)
        nta.attr('placeholder', 'Add this book to your library to add notes')
    {% endif %}

    changeNotesHeight()

    //Prevents browser leaving unsaved changes
    $('#notes-textarea').dirty({preventLeaving: true})

    //Saves on Cmd+Enter and Ctrl+Enter
    $('#notes-textarea').keydown(function(event) {
        if (event.keyCode == 13 && (event.metaKey || event.ctrlKey)) {
            saveNote()
            $('#notes-textarea').blur()
        }
    })

}


function setChangeLibraryButton() {
    {% if current_user.is_authenticated %}
        currentLibrary = "{{ dbm.get_library(current_user.id, olid) }}"
        console.log(currentLibrary)
        $('.change-library-start').text(currentLibrary)
    {% endif %}
}
function showChangeLibraryButtons() {
    $('.change-library-selector').show()   

    {% if current_user.is_authenticated %}
        currentLibrary = "{{ dbm.get_library(current_user.id, olid) }}"
    {% endif %}

    if (currentLibrary !== "To Read") {
        $('.to-read').show()
    }
    if (currentLibrary !== "Read") {
        $('.read').show()
    }
    if (currentLibrary !== "Currently Reading") {
        $('.currently-reading').show()
    }

}
function changeLibrary(library) {
    console.log()
    let data = {
        olid: olid,
        library: library
    }

    $.ajax({
        type: 'POST',
        url: '/change-library',
        contentType: 'application/json;charset=UTF-8',
        data: JSON.stringify(data),
        success: function(response) {
            console.log(response)
            location.reload() 
        },
        error: function(xhr, status, error) {
            console.log("Error", xhr, status, error)
        }
    })
}




function setAsDirty() {
    $('#notes-textarea').dirty("setAsDirty")
    $('#save-changes-button').attr('disabled', false)
    changeNotesHeight()

}
function setAsClean() {
    $('#notes-textarea').dirty("setAsClean")
    $('#save-changes-button').attr('disabled', true)
}
function changeNotesHeight() {
    $('#notes-textarea').css('height', "")
    let scrollHeight = $('#notes-textarea')[0].scrollHeight
    let maxHeight = 450
    let newHeight = Math.min(maxHeight, scrollHeight) + 'px'
    $('#notes-textarea').css('height', newHeight)

}
function displayChangesSaved() {
    console.log("display")
    elem = `<p class="alert alert-success" id="changes-saved-alert">Changes Saved!</p>`
    //$('.save-wrapper').append(elem)
    $(elem).insertBefore('.save-wrapper')
    setTimeout(function() {
        $('#changes-saved-alert').remove()
    }, 1500)
}




function loginRedirect() {
    window.location.href = `/login?next=/book/${olid}`
}

function saveNote() {
    noteText = $('#notes-textarea').val()

    let data = {
        note: noteText,
        olid: olid
    }

    $.ajax({
        type: 'POST',
        url: '/save-notes',
        contentType: 'application/json;charset=UTF-8',
        data: JSON.stringify(data),
        success: function(response) {
            setAsClean()
            displayChangesSaved()
            console.log(response)
        },
        error: function(xhr, status, error) {
            console.log("Error", xhr, status, error)
        }
    })
}

function removeBookConfirm() {
    console.log("confirming")
    div = $('#book-removal')
    div.empty()

    elem = `
    <p class="alert alert-danger">Are you sure? All data will be lost</p
    <br>
    <div class="button-confirm-wrapper">
        <button class="button confirm" onclick="removeBookCancel()">Cancel</button>
        <button class="button confirm" onclick="removeBookRequest()">Confirm</button>
    </div>
    `
    div.append(elem)
}
function removeBookCancel() {
    div = $('#book-removal')
    div.empty()

    elem = `<button id="remove-book-button" class="add-book-button button" onclick="removeBookConfirm()">Remove Book</button>`
    div.append(elem)
}

function addBookRequest(library) {
    let data = { 
        olid: olid,
        library: library
    }
    $.ajax({
        type: 'POST',
        url: '/add-olbook',
        contentType: 'application/json;charset=UTF-8',
        data: JSON.stringify(data),
        success: function(response) {
            console.log('Response from server:', response);
            location.reload()
            //window.location.href = response
        },
        error: function(xhr, status, error) {
            console.error('Error sending data', error);
        }
    })
    //setTmeout is so the button click registers before the buttons are hidden
    setTimeout(function() {
        $('.library-buttons').hide
    }, 0)
}
function removeBookRequest() {
    let data = { olid: olid}
    $.ajax({
        type: 'POST',
        url: '/remove-olbook',
        contentType: 'application/json;charset=UTF-8',
        data: JSON.stringify(data),
        success: function(response) {
            console.log('Response from server:', response);
            location.reload()
            //window.location.href = response
        },
        error: function(xhr, status, error) {
            console.error('Error sending data', error);
        }
    })
}


console.log(`Getting data for ${olid}`)
$.ajax({
    url: `https://openlibrary.org/works/${olid}.json`,
    
    success: function(response) {
        console.log(response)
        updatePage(response)
        //showResults(response)
    },
    error: function(xhr) {
        console.log(xhr)
    }
})

function updatePage(response) {
    let title = response['title']
    let description = response['description']
    if (typeof description === 'object') {description = description['value']}
    let underscored_title = title.split(" ").join("_")
    history.pushState({}, null, `/book/${olid}/${underscored_title}`)
    document.title = title
    $('.book-title').text(title)
    $('.book-description').text(description)
    $('#all').text(response)

    let cover = response['covers'][0]
    img = `<img id="book-cover-img" src="https://covers.openlibrary.org/b/id/${cover}-L.jpg">`
    $('.book-cover').append(img)


    //Displays all covers – may be useful to chose cover in custom olbook
    //for (cover of response['covers']) {
        //img = `<img src="https://covers.openlibrary.org/b/id/${cover}-L.jpg">`
        //$('.book-cover').append(img)
    //}

    console.log(response)
    updateAuthor(response)
}


function getAuthors(response) {

    console.log("author text fucntion")

    const names = []
    console.log(response)
    console.log(response['authors'])
    for (authorDict of response['authors']) {
        key = authorDict['author']['key']

        const promise = fetch(`https://openlibrary.org${key}.json`)
            .then(response => response.json())
            .then(data => {
                return data['name']
            })

        names.push(promise)
    }

    allNames = Promise.all(names)
    console.log("all names", allNames)
    return allNames
    //for (name of allNames) {console.log(name)}
}


function updateAuthor(response) {
    console.log("fun t")
    authors = getAuthors(response)
        .then(names => {
            //console.log("authors from authrotext", authors)
            console.log("joined", names.join(", "))
        //    return names
            let authors = names[0]
            console.log("authors", authors)
            if (names.length > 1) {
                if (names.length > 2) {
                    authors += ", "
                } else {
                    authors += " "
                }
                for (let i = 1; i < names.length-1; i++) {
                    authors += `${names[i]}, `
                }
                authors += `and ${names[names.length-1]}`
            }

            let authText = "By " + authors
            console.log(authText)
            $('.book-author').text(authText)
            return authText
            })
            .catch(error => {
                console.error("Error me", error)
            })
}

</script>


{% endblock content %}
