{% extends "base.html" %}

{% block title %}List Books{% endblock title %}

{% set active_page = 'list_books' %}

{% block head %}
    <link rel="stylesheet" href='{{ url_for("static", filename="css/list-books.css") }}'>
{% endblock head %} 

{% block content %}


<div class="books-container">

    {% for book in olbooks %}

        <div class="book-container" onclick="window.location.href = `/book/{{ book.olid }}`">

            <div id="img-container">
                <img src="https://covers.openlibrary.org/b/id/{{ book.cover_id }}-M.jpg">
            </div>

            <div class="text-container">
                <span class="book-title">
                    {{ book.title }}
                </span>

                <br>

                <span class="book-author">
                    by {{ book.author }}
                </span>

                <br>

                <span class="book-fictionality">
                    {{ book.fictionality }}
                </span>

                <span class="book-library">
                    {{ book.library }}
                </span>
            </div>

        </div>
        
    {% endfor %}


</div>


{% endblock content %}

