
.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.left-sidebar {
    /* background-color: lightpink; */
    width: 50%;
    margin: 30px auto;
}
.sidebar-header {
    text-align: right;
}

.library-selector {
    display: block;
    width: 100%;
    text-align: right;
    background-color: white;
    /* background-color: beige; */
    border-radius: 10px;
    color: #B4436C;
    text-decoration: underline;
    border: none;
    margin-bottom: 0px;
    font-size: 1rem;
    padding: 10px;
}
.library-selector:hover {
    cursor: pointer;
}










.books-container {
    margin: 0px auto;
    /* background-color: lightgreen; */
    width: max-content;
}

.book-container {
    margin: 50px;
    width: 400px;
    height: 200px;
    background-color: lightcyan;
    position: relative;
    display: flex;
    box-shadow: -2px 2px 4px 1px lightgray;
}
.book-container:hover {
    background-color: lightblue;
}
.book-container img {
    height: 100%;
}

.text-container {
    margin-left: 10px;
}

.book-title {
    font-size: 1.75em;
    font-weight: bold;
    color: blue;
}

.book-author {
    font-size: 1.25em;
    color: blueviolet;
}
.rating {
    display: inline-block;
    margin-top: 8px;
}
.rating i {
    color: lightseagreen;
}

.book-fictionality {
    color: gray;
    /* position: absolute;
    bottom: 0;
    left: 0; */
}
.book-library {
    color: #B4436C;
    display: block;
    margin-top: 10px;
    /* position: absolute; */
    /* top: 0; */
    /* right: 0; */
}
